<div>


    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start Banner Area -->
    <div class="rbt-banner-area rbt-banner-8 variation-01 bg_image bg_image--9" style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279);">
        <div class="wrapper w-100">
            <div class="container" dir="rtl">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 " style=" margin-top: -107px;">
                        <div class="video-popup-wrapper" >
                            <img class="w-100 rbt-radius" src="assets/images/image/09.png" alt="Video Images">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="rbt-separator m-0">



</div>