<div>





    <a class="close_side_menu" href="javascript:void(0);"></a>





    <div class="slider-area rbt-banner-5 height-750 bg_image " style="background-image: url(assets/images/image/121.png); " data-gradient-overlay="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <h1 class="title display-one">
                            <span>  توطين العلاج بالداخل</span>

                            <!--<span>بالـــــداخل </span>-->
                            <!--<span>Pursue</span> Your Passion.-->
                        </h1>
                        <!--<p class="description">

                            <span>الحكومة الليبية </span>
                            <br />
                            <span>وزارة الصحة</span>
                            <br />
                            <span> إدارة الشؤون الطبية</span>

                        </p>-->
                        <br />
                        <div class="rbt-button-group">
                            <a class="rbt-btn btn-white hover-icon-reverse" href="#" @click.prevent="href('/SignUp')">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">الإشتراك وتسجيل البينات</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                            <!--<a class="rbt-btn btn-border hover-icon-reverse color-white"
                               style=" border: 1px solid;"
                               href="contact.html">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">الإشتراك وتسجيل البينات  </span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




















    <div class="rbt-service-area bg-color-white rbt-section-gap" style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279);">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title" style="color:white">البرامج المستهدفة </h2>
                    </div>
                </div>
            </div>


            <!-- Start Card Area -->
            <div class="row row--15 mt_dec--30" dir="rtl" style="text-align:right">

                <!-- Start Single Card  -->
                <div class="col-xl-6 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-4">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/card-icon-4.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج زراعة القرنية</a></h5>
                                    <p>من أهم برامج التوطين بالداخل هوا برنامج زراعة القرنية تحت إشراف نخبة من الجراحين المختصين في العيون بادر بالتسجيل في برنامج التوطين بالداخل</p>
                                    <a class="rbt-btn-link stretched-link" href="#" @click.prevent="href('/SignUp')">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a dir="ltr" class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-xl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-3">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/power.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج جراحة الشبكية والجسم الزجاجي</a></h5>
                                    <p>جراحة الشبكية تحت إشراف مختصين في جراحة العيون داخل ليبيا </p>
                                    <a class="rbt-btn-link stretched-link" href="#" @click.prevent="href('/SignUp')">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-xl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-2">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/card-icon-12.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج جراحة اعوجاج العمود الفقري</a></h5>
                                    <p>جراحة اعوجاج العمود الفقري تحت إشراف مختصين جراحة العمود الفقري </p>
                                    <a class="rbt-btn-link stretched-link" href="#">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <!-- End Card Area -->


            <br />
            <br />

            <!-- Start Card Area -->
            <div class="row row--15 mt_dec--30" dir="rtl" style="text-align:right">

                <!-- Start Single Card  -->
                <div class="col-xl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-4">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/pricing-icon-03.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج جراحة المفاصل</a></h5>
                                    <p>من أهم برامج التوطين بالداخل هوا برنامج زراعة القرنية تحت إشراف نخبة من الجراحين المختصين في العيون  </p>
                                    <a class="rbt-btn-link stretched-link" href="#" @click.prevent="href('/SignUp')">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a dir="ltr" class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-xl-3 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-3">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/pricing-icon-01.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج علاج تأخر الحمل</a></h5>
                                    <p>من أهم برامج التوطين بالداخل هوا برنامج زراعة القرنية تحت إشراف نخبة من الجراحين المختصين في العيون  </p>
                                    <a class="rbt-btn-link stretched-link" href="#">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
                <!-- Start Single Card  -->
                <div class="col-xl-6 col-md-6 col-sm-6 col-12 mt--30">
                    <div class="rbt-flipbox">
                        <div class="rbt-flipbox-wrap rbt-service rbt-service-1 card-bg-2">
                            <div class="rbt-flipbox-front rbt-flipbox-face inner">
                                <div class="icon">
                                    <img src="assets/images/icons/elite.png" alt="card-icon">
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">برنامج زراعة القوقعة</a></h5>
                                    <p>
                                        برنامج زراعة القوقعة تحت اشراف خبراء جراخة ذو خبرة عالية
                                        ومختصين في مجال زراعة القوقغة بادر بالتسجيل داخل برنامج توطين
                                        العلاج بالداخل بادر بالتسجيل داخل برنامج توطين العلاج بالداخل بادر بالتسجيل داخل برنامج توطين العلاج بالداخل
                                    </p>
                                    <a class="rbt-btn-link stretched-link" href="#">الإشتراك وتسجيل البيانات<i class="feather-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="rbt-flipbox-back rbt-flipbox-face inner">
                                <ul class="rbt-list-style-3 color-white">
                                    <li><i class="feather-star" style="color:gold"></i> <span style="margin-right:5px">شروط التسجيل</span>  </li>
                                    <li><i class="feather-info"></i> <span style="margin-right:5px">  المتقدم ليبي الجنسية</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">  يتجاوز عمر المتقدم 18 </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> تسجيل جميع البيانات المطلوبة</span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إرفاق الملفات المطلوبة </span></li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px"> إدخال رقهم هاتف المريض </span>   </li>
                                    <li><i class="feather-info"></i><span style="margin-right:5px">   الموافقة علي الشروط </span>   </li>
                                </ul>
                                <a class="rbt-btn rbt-switch-btn btn-white btn-sm" href="#" @click.prevent="href('/SignUp')">
                                    <span data-text=" الإشتراك وتسجيل البيانات"> الإشتراك وتسجيل البيانات</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->





            </div>
            <!-- End Card Area -->





        </div>
    </div>













    <br />
    <br />

    <!-- Start Advance Tab  -->
    <div class="rbt-advance-tab-area splash-layout-presentation pb--40 bg-color-white" dir="rtl" 
         style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279);">
        <div class="wrapper">
            <div class="container">
                <div class="row mb--60">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <!--<span class="subtitle bg-secondary-opacity">
                                You Can Customize Everything
                            </span>-->
                            <h2 class="title" style="color:white">توطين العلاج بالداخل </h2>

                            <!--<p class="description mt--20">
                                <span class="theme-gradient"> Next Level!</span>
                                An all-in-one template with powerful features.
                            </p>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="splash-layout-presentation-box">
                            <div class="row g-5">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 order-2 order-lg-1">

                                    <div class="section-title text-end mb--60">
                                        <span class="subtitle bg-primary-opacity">
                                           أهم المنافع الطبية التي يشملها التوطين
                                        </span>
                                        <h4 class="title">عمليات جراحية وورش عمل     </h4>
                                    </div>

                                    <div class="advance-tab-button advance-tab-button-1">
                                        <ul class="nav nav-tabs splash-nav-tabs tab-button-list" id="splashLayoutTab" role="tablist">
                                            <li class="nav-item active-nav" role="presentation">
                                                <a href="#" class="nav-link tab-button active" id="layouttab1-tab" data-bs-toggle="tab" data-bs-target="#layouttab1" role="tab" aria-controls="layouttab1" aria-selected="false">
                                                    <div class="tab">
                                                        <h4 class="title"><img src="assets/images/splash/icons/online-course.png"
                                                                               alt="advance-tab-image">جراحة مخ وأعصاب</h4>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a href="#" class="nav-link tab-button" id="layouttab2-tab" data-bs-toggle="tab" data-bs-target="#layouttab2" role="tab" aria-controls="layouttab2" aria-selected="true">
                                                    <div class="tab">
                                                        <h4 class="title"><img src="assets/images/splash/icons/header.png"
                                                                               alt="advance-tab-image"> جراحة قلب مفتوح</h4>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a href="#" class="nav-link tab-button" id="layouttab3-tab" data-bs-toggle="tab" data-bs-target="#layouttab3" role="tab" aria-controls="layouttab3" aria-selected="false">
                                                    <div class="tab">
                                                        <h4 class="title"><img src="assets/images/splash/icons/curve.png" 
                                                                               alt="advance-tab-image">عمليات القسطرة القلبية </h4>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="nav-item" role="presentation">
                                                <a href="#" class="nav-link tab-button" id="layouttab4-tab" data-bs-toggle="tab" data-bs-target="#layouttab4" role="tab" aria-controls="layouttab4" aria-selected="false">
                                                    <div class="tab">
                                                        <h4 class="title"><img src="assets/images/splash/icons/web-programming.png" 
                                                                               alt="advance-tab-image"> العيون والقرنية </h4>
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
                                    <div class="tab-content">
                                        <div class="tab-pane fade advance-tab-content-1 active show" id="layouttab1" role="tabpanel" aria-labelledby="layouttab1-tab">
                                            <div class="thumbnail">
                                                <img src="assets/images/image/125.jpg" alt="advance-tab-image">
                                            </div>

                                        </div>
                                        <div class="tab-pane fade advance-tab-content-1" id="layouttab2" role="tabpanel" aria-labelledby="layouttab2-tab">
                                            <div class="thumbnail">
                                                <img src="assets/images/image/123.webp" alt="advance-tab-image">
                                            </div>
                                        </div>

                                        <div class="tab-pane fade advance-tab-content-1" id="layouttab3" role="tabpanel" aria-labelledby="layouttab3-tab">
                                            <div class="thumbnail">
                                                <img src="assets/images/image/122.webp" alt="advance-tab-image">
                                            </div>
                                        </div>

                                        <div class="tab-pane fade advance-tab-content-1" id="layouttab4" role="tabpanel" aria-labelledby="layouttab4-tab">
                                            <div class="thumbnail">
                                                <img src="assets/images/image/124.webp" alt="advance-tab-image">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Advance Tab  -->
    <!--style="background: linear-gradient(to right, #185a9d, #43cea2) !important;"-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    











    <!--Start Contact Me Area-->
    <div class="rbt-contact-me bg-color-white rbt-section-gap"
         style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279);">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="section-title text-end">
                            <h2 class="title" style="color:white"> إرسال الملاحظات</h2>
                            <p class="description mt--20" style="color: floralwhite">يمكن إرسال المحلاظات والتعليقات الخاصة بكم وستقوم الادارة بالرد في اقرب فرصة يمكن إرسال المحلاظات والتعليقات الخاصة بكم وستقوم الادارة بالرد في اقرب فرصة اقرب فرصة يمكن إرسال المحلاظات والتعليقات الخاصة بكم وستقوم الادارة بالرد في اقرب فرصة</p>
                            <br />
                            <div class="social-share-wrapper mt--30" dir="rtl">
                                <h5 style=" color: ghostwhite; font-size: 14px;">كما يمكنكم متابعنا على الروابط التالية </h5>
                                <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                                    <li>
                                        <a href="#">
                                            <i class="feather-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-xl-1">
                    <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                        <el-form :model="ruleForm"
                                 :rules="rules"
                                 ref="ruleForm" class="w-100">
                            <div class="form-group">
                                <el-form-item label="الإسم" for="Name" prop="Name">
                                    <input id="Name" v-model="ruleForm.Name" autocomplete="off" name="con_name" type="text" />
                                    <span class="focus-border"></span>
                                </el-form-item>

                            </div>
                            <div class="form-group">
                                <el-form-item label="البريد الإلكتروني " prop="Email" for="Email">
                                    <input id="Email" v-model="ruleForm.Email" autocomplete="off" name="con_email" type="email">
                                    <span class="focus-border"></span>
                                </el-form-item>

                            </div>
                            <div class="form-group">
                                <el-form-item label="رقم الهاتف " prop="Phone" for="Phone">
                                    <input id="Phone" v-model="ruleForm.Phone" autocomplete="off" type="text">
                                    <span class="focus-border"></span>
                                </el-form-item>
                            </div>
                            <div class="form-group">
                                <el-form-item label="الرسالة " prop="Mesaage" for="Mesaage">
                                    <textarea id="Mesaage" autocomplete="off" v-model="ruleForm.Mesaage"></textarea>
                                    <span class="focus-border"></span>
                                </el-form-item>
                            </div>
                            <div class="form-submit-group">
                                <button type="submit"
                                        @click.prevent="submitForm('ruleForm')"
                                        class="rbt-btn radius-round btn-gradient hover-icon-reverse"
                                        style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279);">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">إرسال البيانات</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </button>
                            </div>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <hr class="rbt-separator m-0">



</div>