

<div>

    <!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1" dir="rtl">
        <div class="footer-top">
            <div class="container">
                <div class="row row--15 mt_dec--30" style="text-align:right">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <div class="logo justify-content-center" style=" width: 53%;">
                                <a href="#" style="width: 89%; text-align: right;">
                                    <img src="assets/images/image/logo.png" alt="Edu-cause">
                                </a>
                            </div>

                            <p class="description mt--20" style="color: white;text-align:right">
                                توطين العلاج بالداخل
                            </p>

                            <div class="contact-btn mt--30" style="text-align:center">
                                <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" 
                                   href="#" 
                                   @click.prevent="href('/ContactUs')"
                                   dir="ltr" 
                                   style="background-image: linear-gradient(to right, #75bcd5, #6db6d0, #66b0cb, #5eabc6, #56a5c1, #4f9db9, #4796b1, #408ea9, #38839d, #307891, #286d85, #206279); ">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text" style="color:white">تـــواصـــل مـعـــنا</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">منصـــتــنــا</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="#" @click.prevent="href('/SignUp')">الإشتراك والتسجيل</a> <!--@click.prevent="href('/Sinup')"-->
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/SignUp')">الإشتراك والتسجيل</a><!--@click.prevent="href('/Courses')"-->
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/SignUp')">الإشتراك والتسجيل</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/SignUp')">الإشتراك والتسجيل</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/SignUp')"> الإشتراك والتسجيل</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">من نحـــن </h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="#" @click.prevent="href('/ContactUs')">إتصل بــنا</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/ContactUs')">أهدافــنا</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/ContactUs')">رؤيتــنا</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/ContactUs')">فروعــنا</a>
                                </li>
                                <li>
                                    <a href="#" @click.prevent="href('/ContactUs')">رســالتنــا</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">طرق التواصل</h5>
                            <ul class="ft-link">
                                <li><span>رقم الهاتف:</span> <a href="#" style="direction:ltr">+218 91 327 00 18</a></li>
                                <li><span>البريد الإلكتروني:</span> <a href="#">media@dsdms.gov.ly</a></li>
                                <li>
                                    <span>الفرع الرئيسي:</span>
                                    <span style="font-size: 14px;">
                                         السبعة - طرابلس - ليبيا
                                    </span>
                                </li>
                                <li>
                                    <span> فروعنا:</span>
                                    <span style="font-size: 14px;">
                                        شارع طرابلس - مصراته - ليبيا
                                    </span>
                                </li>
                            </ul>
                            <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                                <li>
                                    <a href="#">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="feather-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer aera -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

</div>