<div>

    <div class="rbt-overlay-page-wrapper"  style=" background: -webkit-linear-gradient(left, rgb(24, 90, 157), rgb(67, 206, 162)) !important;">

        <div class="breadcrumb-image-container breadcrumb-style-max-width">
            <div class="breadcrumb-image-wrapper">
                <img src="assets/images/bg/bg-image-10.jpg" alt="Education Images">
            </div>
            <div class="breadcrumb-content-top text-center">
                <h1 class="title">شركة ترانيم العلم </h1>
                <p class="mb--20">التعريف بشركة ترانيم العلم للتدريب والتأهيل</p>
               
            </div>
        </div>


        <div class="rbt-putchase-guide-area breadcrumb-style-max-width rbt-section-gapBottom">
            <div class="rbt-article-content-wrapper">
                <div class="post-thumbnail mb--30 position-relative wp-block-image alignwide">
                    <img class="w-100" src="assets/images/image/12.jpg" alt="Blog Images">
                </div>
                <div class="content" style=" direction: rtl; text-align: right;">
                    <br />
                    <!--<h4 style="font-family: 'DroidArabicKufiRegular';">من نحن :</h4>-->
                    <span>
                        تأسست ترانيم العلم للتدريب والتأهيل بدولة ليبيا – طرابلس سنة 2016، وذلك لتقديم الخدمات التدريبية والتعليمية  والإستشارية وتطوير الطلبة بأحدث طرق التعليم حيث  تلبي كافة المتطلبات الإستراتيجية في بيئة مبنية على المعرفة الحديثة ومن خلال أفضل المعلمين والمعلمات بمختلف التخصصات العلمية ، لذا وضعت أهدافها للوصول لأعلى مستوى من الجودة والإبداع والتنمية المتميّزه لدى العملاء والمشاركين .
                    </span>

                    <br />

                    <h4 style="font-family: 'DroidArabicKufiRegular'; margin-top:50px">رؤيتنا :</h4>
                    <span>
                        أن تكون ترانيم العلم للتدريب من أفضل المراكز المحلية التي تقوم بتأهيل وتدريب طلبة المدارس والجامعات في مختلف أنحاء المدن الليبية في المدارس العامة والخاصة بأحدث أساليب التدريب والتأهيل .
                    </span>

                    <br />

                    <h4 style="font-family: 'DroidArabicKufiRegular'; margin-top: 50px"> أهدافنا :</h4>
                    <ol>
                        <li>	المساهمة في إعداد جيل متميز قادر على النهوض بالتطور.</li>
                        <li>	التعاون مع المؤسسات التعليمية  للرفع من مستوى الطلبة.</li>
                        <li>	المساهمة في  بناء جيل واعد يتمتع بقدر واسع من العلم والمعرفة.</li>
                        <li>	دعم ورعاية برامج التعليم عن بعد.</li>
                        <li>	التطوير المستمر للبرامج التدريبية.</li>
                        <li>	الحرص على التكامل بين التعليم والتدريب.</li>

                    </ol>

                    <br />

                    <h4 style="font-family: 'DroidArabicKufiRegular'; margin-top: 50px">نشاطاتنا :</h4>
                    <ol>
                        <li>	عملت الشركة منذ تأسيسها علي تدريس أعداد كبيرة من الطلبة في عدة كليات أهمها كلية الهندسة وكلية العلوم والطب.</li>
                        <li>	تدريس عدد كبير من الطلبة سنوياً في مجال التعليم الاساسي والثانوي وللشركة صيت واسع في المجال الدورات المنهجية.</li>
                        <li>	التعاون مع عدد من البلديات وتنفيذ عدد من البرامج التعليمية عن بعد وذلك للمساهمة من رفع المتسوى التعليمي .</li>

                    </ol>
                </div>
            </div>
        </div>

    </div>



</div>